/**
 *	#5fc2c9 : light blue
 *	#3faeb5: middle blue
 *	#33898f : dark blue
 *	#f7f7f7 : light gray
 *	#adadad :dark grey
 */
/*
 * STRUCTURAL STYLES
 */
body {
	font-family: 'Roboto', sans-serif;
	color: #666;
	font-size: 16px;
	padding: 0;
	margin: 0;
}

a {
	color: #33898f;
	outline: none;
	text-decoration: none;
}

a:visited {
	color: #33898f;
}

h2 {
	color: #33898f;
	border-bottom: 1px solid #33898f;
}

h2>a {
	float: right;
	font-size: medium;
}

body>div {
	padding-left: 50px;
	padding-right: 50px;
}

p {
	text-indent: 15px;
}

figure {
	display: inline-block;
	margin-right: 50px;
}

figcaption {
	text-align: center;
}

/*
 * ELEMENTS STYLES
 */
.header {
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #5fc2c9;
	color: #fff;
	text-align: center;
}

.header h1 {
	font-size: 30px;
}

.header small {
	font-size: 22px;
}

.gauge-container {
	height: 200px;
    border: 1px dashed #ddd;
    resize: both; 	/* allow to test resizing */
    vertical-align: top; /* keep gauges aligned when testing sizes */
}

.menu {
	padding-top: 15px;
	padding-bottom: 15px;
}

.menu a {
	display: inline-block;
	padding-right: 20px;
}

.examples {
	text-align: center;
}

.code {
	font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
	font-size: 15px;
	background-color: #f7f7f7;
	border: 1px solid #adadad;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	color: #333;
	padding: 15px;
	margin: 10px;
}

.TODO {
	background-color: yellow;
}

/**
 *	GAUGES EXAMPLE STYLES
 */
#example-header-gauge .gauge-arc {
	fill: #345050;
}

#example-header-gauge .gauge-filler {
	fill: #8FBC8F;
}

#example-mail-count-gauge .gauge-arc {
	fill: #810301;
}

#example-mail-count-gauge .gauge-filler {
	fill: #C75453;
}

#example-voltage-gauge .gauge-arc-border {
	stroke: #ccc;
}

#example-message-count-gauge .gauge-filler {
	fill: #FCA419;
}

#example-message-count-gauge .gauge-arc {
	fill: #88461B;
}

#example-message-count-gauge .gauge-arc-border {
	stroke: #ccc;
}

#example-half-gauge .gauge {
	margin-top: 40px;
}

#example-half-gauge  .gauge-filament {
	stroke: #20585b;
}

#example-full-gauge .gauge-filler {
	fill: #47c650;
}