body {
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
	text-align : center;
}

h2 {
    border-top: 1px solid lightgray;
}

.example {
	display: inline-block;
	margin-right: 50px;
}

/* html, body, div, figure { */
/* 	height : 100%; */
/* } */

.example-container {
	display: inline-block;
	height: 200px;
    border: 1px dashed #ddd;
    resize: both; 	/* allow to test resizing */
	overflow: hidden;
    vertical-align: top; /* keep gauges aligned when testing sizes */
}

figcaption {
	text-align: center;
}

.gauge-vertical {
	height: 400px;
}

/* Vertical layout */
.vertical-layout {
	vertical-align: top;
	display: inline-block;
}

.vertical-layout figure {
	display: block;
}

/* Config display */
.gauge-config {
	width : 400px;
	height : 400px;
	position : absolute;
	display: none;
	text-align: left;
	white-space: pre;
	background-color : #FFF;
	overflow : hidden;
	columns: 2;
	-moz-columns: 2;
	-webkit-columns: 2;
	column-gap : 3rem;
	-webkit-column-gap : 3rem;
	-moz-column-gap : 3rem;
}
.gauge-config.visible {
	display : block;
}
