/* LAYOUT */
.gauge-container {
	display: inline-block;
	box-sizing: padding-box;
	text-align: center;
	overflow: hidden;
}

.gauge {
	display: inline-block;
	font-size: 4px;
	overflow: visible; /*avoid cutting texts */
	/* to react to the parent height*/
	height: 100%;
	/* to react to the parent width. max-width because of chrome (http://stackoverflow.com/questions/22015867/scale-embedded-svg-without-white-space-in-chrome)*/
	max-width: 100%;
}

/* POINTERS */
.gauge-needle {
	stroke: #cf4814;
	fill: transparent;
}

.gauge-filament {
	stroke: black;
}

.gauge-filler {
	fill: #d50000;
}

/* GAUGE */
.gauge-arc {
	/* setting 'fill' on the path elements would override the
	 gradients if any; setting 'fill' on parent allows a correct override */
	fill: #ddd;
}

.gauge-arc-border {
	stroke: black;
	stroke-width: 0.3px;
}

/* LABELS */
.wide-gauge text {
	transform: scale(2, 2);
}

.gauge text {
	fill: #333;
}

.gauge-label {
	text-anchor: middle;
	font-weight: bold;
}
/* shifts the first and last labels so that they are not out of the container*/
.gauge-label g:first-child text {
	text-anchor: start;
}

.gauge-label g:last-child text {
	text-anchor: end;
}

/* VALUE */
.gauge-value text {
	dominant-baseline: central;
	text-anchor: middle;
	transform: scale(3, 3);
}

.wide-gauge .gauge-value text {
	transform: scale(6, 6);
}

.unit {
	font-size: 62%;
}